server:
  port: 8090

spring:
  application:
    name: gateway

  cloud:
    gateway:
      server:
        webmvc:
          default-filters:
            - RemoveResponseHeader=Server
          routes:
            - id: orders
              uri: lb://ORDERS-SERVICE
              predicates:
                - Path=/orders/**
              filters:
                - StripPrefix=0
            - id: products
              uri: lb://PRODUCTS-SERVICE
              predicates:
                - Path=/products/**
              filters:
                - StripPrefix=0
            - id: shipping
              uri: lb://SHIPPING-SERVICE
              predicates:
                - Path=/shipping/**
              filters:
                - StripPrefix=0
            - id: payments
              uri: lb://PAYMENTS-SERVICE
              predicates:
                - Path=/payments/**
              filters:
                - StripPrefix=0
            - id: purchases
              uri: lb://PURCHASES-SERVICE
              predicates:
                - Path=/purchases/**
              filters:
                - StripPrefix=0
            - id: notifications
              uri: lb://NOTIFICATIONS-SERVICE
              predicates:
                - Path=/notifications/**
              filters:
                - StripPrefix=0
            - id: reports
              uri: lb://REPORTS-SERVICE
              predicates:
                - Path=/reports/**
              filters:
                - StripPrefix=0

          discovery:
            locator:
              enabled: false

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
    hostname: shipping
    instance-id: ${spring.application.name}:${server.port}

management:
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: "gateway,health,info"
  endpoint:
    gateway:


logging:
  level:
    org.springframework.boot.actuate: INFO
    org.springframework.cloud.gateway: DEBUG
    org.springframework.boot.context.properties: DEBUG